
@{
    ViewBag.Title = "Index";
}
@Html.Partial("~/Views/Shared/_NavbarTop.cshtml")

<div class="container">
    <div class="row offset-md-1 purchased-greeting-card">
        
    </div>
    <br />
    <div class="row offset-md-1 order-details">

    </div>
</div>

@section scripts {
    <script src="~/Scripts/Custom_Scripts/Main_Scripts/OrderPurchased.js"></script>
}