<table id="ShowNewlyAddedProductList" class="table table-bordered" width="100%">
    <thead>
        <tr>
            <th></th>
            <th class="th-sm text-center">Product Name</th>
            <th class="th-sm text-center">Brand</th>
            <th class="th-sm text-center">Category</th>
            <th class="th-sm text-center"></th>
            <th class="th-sm text-center">Date</th>
            <th class="th-sm text-center">Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
