@model IEnumerable<OECS.Models.CartModels.ViewCartItem>
<div class="card">
    <div class="card-body">
        <p class="emphasize-text">Shipping Address</p>
        <span>
            <i class="fas fa-map-marker-alt"></i>
            <span id="customer-address"></span>
        </span>

        <hr />
        <p><h5 class="emphasize-text">Order Summary</h5></p>
        <p>Selected Item(s) <span class="float-right" id="selected-item-amount">@String.Format("{0:C}", 0.00)</span></p>
        @*<p>Shipping Fee <span class="float-right">$0.00</span></p>*@
        <p class="emphasize-text">All Item(s) <span class="float-right" id="cart-total-amount">@String.Format("{0:C}", 0.00)</span></p>

        <button class="btn btn-warning btn-block" type="button" id="BtnCheckout" @(Model.Count() == 0 ? "disabled" : "")>
            PROCEED TO CHECKOUT
        </button>
    </div>
</div>
