<div class="card">
    <div class="card-body">
        <p class="emphasize-text">Shipping Address</p>
        <span>
            <i class="fas fa-map-marker-alt"></i>
            Pangasinan, Sision, Bantay Insik
        </span>

        <hr />
        <h5 class="emphasize-text">Order Summary</h5>
        <p>SubTotal <span class="float-right">$0.00</span></p>
        <p>Shipping Fee <span class="float-right">$0.00</span></p>
        <p class="emphasize-text">Total <span class="float-right">$00.00</span></p>

        <button class="btn btn-warning btn-block" type="button">
            PROCEED TO CHECKOUT
        </button>
    </div>
</div>
