@using Microsoft.AspNet.Identity;
@using System.Security.Claims;
@{
    ViewBag.Title = "Index";

    var identity = (ClaimsIdentity)User.Identity;
    var role = identity.FindFirstValue(ClaimTypes.Role);
}

<div class="container-fluid">
    <button class="btn btn-success" type="button" id="BtnTriggerAddNewProductModalForm" data-toggle="modal" data-target="#modalNewProduct">NEW PRODUCT</button>
    <div class="custom-control custom-checkbox float-right">
        <input class="custom-control-input" type="checkbox" id="chkNewlyAddedProduct" />
        <label class="custom-control-label" for="chkNewlyAddedProduct">Newly Added</label>
        <span class="badge badge-danger ml-2"></span>
    </div>
    <div id="ProductTableList">

    </div>
</div>

@if (role == "1")
{
    <!-- Modal Add New Product -->
    <div class="modal fade" id="modalNewProduct" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="NewProductForm">

            </div>
        </div>
    </div>

    <!-- Modal Edit Product -->
    <div class="modal fade" id="modalEditProduct" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="EditProductForm">

            </div>
        </div>
    </div>

    <!-- Modal Product Image Gallery -->
    <div class="modal fade" id="modalProductImageGallery" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" id="ProductImageGalleryForm">

            </div>
        </div>
    </div>

    <!-- Modal Add New Product Color -->
    <div class="modal fade" id="modalNewProductDetail" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" id="NewProductDetailForm">

            </div>
        </div>
    </div>

    <!-- Modal Edit Product Color/Image -->
    <div class="modal fade" id="modalEditProductDetail" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" id="EditProductDetailForm">

            </div>
        </div>
    </div>
}

@section scripts{
    <script src="~/MDB/VerticalGallery/js/PhotoGallery.js"></script>
    <script src="~/Scripts/Custom_Scripts/Main_Scripts/Product.js"></script>
}