@using OECS.Models
@using OECS.ClassServices
@{
    ViewBag.Title = "Index";
    oecsEntities dbContext = new oecsEntities();
    _Product _product = new _Product(dbContext);
}
<div class="container-fluid">
    <button class="btn btn-success" type="button" id="BtnTriggerModalForm" data-toggle="modal" data-target="#modalNewProduct">NEW PRODUCT</button>
    <div class="custom-control custom-checkbox float-right">
        <input class="custom-control-input" type="checkbox" id="chkNewlyAddedProduct" />
        <label class="custom-control-label" for="chkNewlyAddedProduct">Newly Added</label>
        <span class="badge badge-danger ml-2">@_product.ViewListingNewlyAddedProduct().Count()</span>
    </div>
    <div id="ProductTableList">

    </div>
</div>

<!-- Modal Add New Product -->
<div class="modal fade" id="modalNewProduct" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="NewProductForm">

        </div>
    </div>
</div>

<!-- Modal Product Image Gallery -->
<div class="modal fade" id="modalProductImageGallery" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="ProductImageGalleryForm">

        </div>
    </div>
</div>

<!-- Modal Add New Product Color -->
<div class="modal fade" id="modalNewProductDetail" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="NewProductDetailForm">

        </div>
    </div>
</div>

<!-- Modal Edit Product Color/Image -->
<div class="modal fade" id="modalEditProductDetail" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="EditProductDetailForm">

        </div>
    </div>
</div>

@section scripts{
    <script>
        //Photo Gallery
        $(document).ready(function () {
            $(document).on("click", 'a', function () {
                var largeImage = $(this).attr('data-full');
                $('.selected').removeClass("selected");
                $(this).addClass('selected');
                $('.full img').hide();
                $('.full img').attr('src', largeImage);
                $('.full img').fadeIn();
            }); // closing the listening on a click

            $(document).on('click', '.full img', function () {
                var modalImage = $(this).attr('src');
                $.fancybox.open(modalImage);
            });
        }); //closing our doc ready
    </script>

    <script src="~/Scripts/Custom_Scripts/Main_Scripts/Product.js"></script>
}