@{
    ViewBag.Title = "ViewFullDetail";
}
<div class="container-fluid product-image-gallery">

</div>
<hr />
<h4>Descriptions / Details</h4>
<div class="container-fluid description">

</div>
<hr />
<div class="container-fluid tab-list">

</div>

@Html.Partial("~/Views/Account/Partials/_AccountLogModalFormHolder.cshtml")

@section scripts{
    <script>
        var routeID = @ViewContext.RouteData.Values["id"].ToString();
        $('.mdb-select').materialSelect();
    </script>
    <script src="~/MDB/VerticalGallery/js/PhotoGallery.js"></script>
    <script src="~/Scripts/Custom_Scripts/ProductDetail.js"></script>

    @if (Session["Modules"] == null && !Request.IsAuthenticated)
    {
        <script src="~/Scripts/Custom_Scripts/Login.js"></script>
        <script src="~/Scripts/Custom_Scripts/Register.js"></script>
    }
}