@{
    ViewBag.Title = "ViewFullDetail";
}
@Html.Partial("~/Views/Shared/_NavbarTop.cshtml")

<div class="container-fluid product-image-gallery">
    <div class="clearfix">
        <div class="gallery">
            <div class="preview-image-section"></div>
            <div class="preview-detail-section"></div>
        </div>
    </div>
</div>
<hr />
<h4>Descriptions / Details</h4>
<div class="container-fluid description">

</div>
<hr />
<div class="container-fluid tab-list">

</div>

@if (Request.IsAuthenticated && Session["Modules"] != null && (bool)Session["ShopNow"] == true)
{
    //@Html.Partial("~/Views/Shared/Modals/_Cart.cshtml")
    <div class="modal fade" id="modalCart" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content" id="ModalAddedItem">

            </div>
        </div>
    </div>
}
else
{
    @Html.Partial("~/Views/Account/Partials/_AccountLogModalFormHolder.cshtml")
}
@section scripts{
    <script>
        var routeID = @ViewContext.RouteData.Values["id"].ToString();
        $('.mdb-select').materialSelect();
    </script>
    <script src="~/MDB/VerticalGallery/js/PhotoGallery.js"></script>
    <script src="~/Scripts/Custom_Scripts/ProductDetail.js"></script>

    @if (Session["Modules"] == null && !Request.IsAuthenticated)
    {
        <script src="~/Scripts/Custom_Scripts/Login.js"></script>
        <script src="~/Scripts/Custom_Scripts/Register.js"></script>
    }
}
