<div class="modal fade" id="modalCart" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="modalCartLabel">1 new item(s) has been added to your cart</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-inline">
                    <div class="col-md-7 cart-added-item">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg" class="rounded float-left" alt="no image" style="padding-right: 10px;">
                        <h6>JS&CO jewelry 14k Saudi Gold Plated Jewelry Set NSD010+ESD017</h6>
                        <p>JS, Ring size: 10, Color Family: NSD010+ESD017</p>
                        <h5>$39.99</h5>
                        <strong class="float-right">Qty: 1</strong>
                    </div>
                    <div class="col-md-5">
                        <p><span class="right-section-checkout">My Shopping Cart</span> <span class="cart-number-item">(5 item(s))</span></p>
                        <p>SubTotal ></p>
                        <p><strong>Total:</strong></p>
                        <div class="form-inline">
                            <div class="col">
                                <a class="btn btn-outline-primary btn-block" href="@Url.Action("Index", "Cart")">
                                    GO TO CART
                                </a>
                            </div>
                            <div class="col">
                                <a class="btn btn-primary btn-block" href="@Url.Action("Index", "CheckOut")">
                                    CHECK OUT
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>