@model IEnumerable<OECS.Models.ProductModels.ProductDetailModels.ColorModels.ColorModel>
@foreach (var color in Model)
{
    <div class="col-xs-3 color-dot-wrapper">
        <div class="card">
            <span class="color-dot" style="background-color: @color.Color; cursor: pointer" onclick="SortByColor(@color.ColorID)"></span>
        </div>
    </div>
}

