<div class="card">
    <div class="card-body">
        <div class="text-center">
            <p class="emphasize-text">
                Please have this amount ready on delivery day.
            </p>
            <h5>$00.00</h5>
        </div>
        <hr />
        <p class="emphasize-text">
            Your Delivery Dates
        </p>

        <div id="PurchasedItemTable">

        </div>

        <div id="OrderSummaryAccordion">

        </div>

        <div class="text-center">
            <button class="btn btn-outline-success" type="button">
                CONTINUE SHOPPING
            </button>
        </div>
    </div>
</div>