<div class="card">
    <div class="card-body">
        <h2 class="text-center">Thank you for your purchased!</h2>
        <hr />
        <p class="text-center emphasize-text">
            Your order number is XXXXXXXXXXXXXX
        </p>
    </div>
</div>

