<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/MDB/MDB Shop/Ecommerce-Template/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/MDB/MDB Shop/Ecommerce-Template/css/mdb.min.css" rel="stylesheet" />
    <link href="~/MDB/MDB Shop/Ecommerce-Template/css/style.min.css" rel="stylesheet" />
    <style type="text/css">
        html,
        body,
        header,
        .carousel {
            height: 60vh;
        }
    </style>
</head>
<body>
    @Html.Partial("~/Views/Shared/_NavbarShop.cshtml")
    <div>
        @RenderBody()
    </div>
    <script src="~/MDB/MDB Shop/Ecommerce-Template/js/jquery-3.4.1.min.js"></script>
    <script src="~/MDB/MDB Shop/Ecommerce-Template/js/popper.min.js"></script>
    <script src="~/MDB/MDB Shop/Ecommerce-Template/js/bootstrap.min.js"></script>
    <script src="~/MDB/MDB Shop/Ecommerce-Template/js/mdb.min.js"></script>
    <!--START UNOBTRUSSIVE AJAX JS-->
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <!--END UNOBTRUSSIVE AJAX JS-->
    <script src="~/Scripts/Custom_Scripts/Ajax.js"></script>
    <script type="text/javascript">
        // Animations initialization
        new WOW().init();

    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
