<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container-fluid">
        <a class="navbar-brand waves-effect" href="https://mdbootstrap.com/docs/jquery/" target="_blank">
            <strong class="blue-text">MDB</strong>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link waves-effect" href="#">Online Fashion House</a>
                </li>
            </ul>

            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item">
                    <a class="nav-link waves-effect">
                        <span class="badge red z-depth-1 mr-1"> 1 </span>
                        <i class="fas fa-shopping-cart"></i>
                        <span class="clearfix d-none d-sm-inline-block"> Cart </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="https://www.facebook.com/mdbootstrap" class="nav-link waves-effect" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="https://twitter.com/MDBootstrap" class="nav-link waves-effect" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link border border-light rounded waves-effect" id="BtnRegisterViewForm" data-toggle="modal" data-target="#modalLoginOrRegister">
                        <i class="fab fa-github mr-2"></i>Register
                    </a>
                </li>&nbsp;
                <li class="nav-item">
                    <a href="#" class="nav-link border border-light rounded waves-effect" id="BtnLoginViewForm" data-toggle="modal" data-target="#modalLoginOrRegister">
                        <i class="fab fa-github mr-2"></i>Login
                    </a>
                </li>
            </ul>

        </div>

    </div>
</nav>

<div id="carousel-example-1z" class="carousel slide carousel-fade pt-4" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-1z" data-slide-to="1"></li>
        <li data-target="#carousel-example-1z" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <div class="view" style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/8-col/img%282%29.jpg'); background-repeat: no-repeat; background-size: cover;">
                <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">
                    <div class="text-center white-text mx-5 wow fadeIn">
                        <h1 class="mb-4">
                            <strong>New Korean Style</strong>
                        </h1>

                        <p>
                            <strong>Best & free guide of responsive web design</strong>
                        </p>

                        <p class="mb-4 d-none d-md-block">
                            <strong>
                                The most comprehensive tutorial for the Bootstrap 4. Loved by over 500 000 users. Video and
                                written versions
                                available. Create your own, stunning website.
                            </strong>
                        </p>

                        <a target="_blank" href="https://mdbootstrap.com/education/bootstrap/" class="btn btn-outline-white btn-lg">
                            Start
                            free tutorial
                            <i class="fas fa-graduation-cap ml-2"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="view" style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/8-col/img%283%29.jpg'); background-repeat: no-repeat; background-size: cover;">
                <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">
                    <div class="text-center white-text mx-5 wow fadeIn">
                        <h1 class="mb-4">
                            <strong>Learn Bootstrap 4 with MDB</strong>
                        </h1>

                        <p>
                            <strong>Best & free guide of responsive web design</strong>
                        </p>

                        <p class="mb-4 d-none d-md-block">
                            <strong>
                                The most comprehensive tutorial for the Bootstrap 4. Loved by over 500 000 users. Video and
                                written versions
                                available. Create your own, stunning website.
                            </strong>
                        </p>

                        <a target="_blank" href="https://mdbootstrap.com/education/bootstrap/" class="btn btn-outline-white btn-lg">
                            Start
                            free tutorial
                            <i class="fas fa-graduation-cap ml-2"></i>
                        </a>
                    </div>
                    <!-- Content -->

                </div>
                <!-- Mask & flexbox options-->

            </div>
        </div>
        <!--/Second slide-->
        <!--Third slide-->
        <div class="carousel-item">
            <div class="view" style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/8-col/img%285%29.jpg'); background-repeat: no-repeat; background-size: cover;">

                <!-- Mask & flexbox options-->
                <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">

                    <!-- Content -->
                    <div class="text-center white-text mx-5 wow fadeIn">
                        <h1 class="mb-4">
                            <strong>Learn Bootstrap 4 with MDB</strong>
                        </h1>

                        <p>
                            <strong>Best & free guide of responsive web design</strong>
                        </p>

                        <p class="mb-4 d-none d-md-block">
                            <strong>
                                The most comprehensive tutorial for the Bootstrap 4. Loved by over 500 000 users. Video and
                                written versions
                                available. Create your own, stunning website.
                            </strong>
                        </p>

                        <a target="_blank" href="https://mdbootstrap.com/education/bootstrap/" class="btn btn-outline-white btn-lg">
                            Start
                            free tutorial
                            <i class="fas fa-graduation-cap ml-2"></i>
                        </a>
                    </div>
                    <!-- Content -->

                </div>
                <!-- Mask & flexbox options-->

            </div>
        </div>
        <!--/Third slide-->

    </div>
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->

</div>

<!--Main layout-->
<div class="container-fluid">
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">
        <span class="navbar-brand">Categories:</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="basicExampleNav">
            <ul class="navbar-nav mr-auto" id="NavChooseCategory"><li class="spinner-border" role="status"></li></ul>
            <form class="form-inline">
                <div class="md-form my-0">
                    <input class="form-control mr-sm-2" id="txtSearchProduct" type="text" placeholder="Search" aria-label="Search">
                </div>
            </form>
        </div>
    </nav>
    <!--/.Navbar-->
    <div class="row">
        <div class="col-lg-3">
            <!--Accordion wrapper-->
            <div class="accordion md-accordion accordion-blocks" id="accordionEx78" role="tablist" aria-multiselectable="true">
                <div class="card">
                    <div class="card-header" role="tab">
                        <a data-toggle="collapse" data-parent="#accordionEx78" href="#collapseUnfiled" aria-expanded="true" aria-controls="collapseUnfiled">
                            <h6 class="mt-1 mb-0">
                                <span>Brands</span>
                                <i class="fas fa-angle-down rotate-icon"></i>
                            </h6>
                        </a>
                    </div>

                    <div id="collapseUnfiled" class="collapse" role="tabpanel" aria-labelledby="headingUnfiled" data-parent="#accordionEx78">
                        <div class="card-body">

                        </div>
                    </div>
                </div>
            </div><hr />
            <!--/.Accordion wrapper-->
            <!--Accordion wrapper-->
            <div class="accordion md-accordion accordion-blocks" id="accordionEx79" role="tablist" aria-multiselectable="true">
                <div class="card">
                    <div class="card-header" role="tab">
                        <a data-toggle="collapse" data-parent="#accordionEx79" href="#collapseUnfiled1" aria-expanded="true" aria-controls="collapseUnfiled1">
                            <h6 class="mt-1 mb-0">
                                <span>Sizes</span>
                                <i class="fas fa-angle-down rotate-icon"></i>
                            </h6>
                        </a>
                    </div>

                    <div id="collapseUnfiled1" class="collapse" role="tabpanel" aria-labelledby="headingUnfiled" data-parent="#accordionEx79">
                        <div class="card-body">
                            <div class="container">
                                <div class="row" id="ProductSizeList">
                                    <div class="spinner-border" role="status"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><hr />
            <!--/.Accordion wrapper-->
            <!--Accordion wrapper-->
            <div class="accordion md-accordion accordion-blocks" id="accordionEx80" role="tablist" aria-multiselectable="true">
                <div class="card">
                    <div class="card-header" role="tab">
                        <a data-toggle="collapse" data-parent="#accordionEx80" href="#collapseUnfiled2" aria-expanded="true" aria-controls="collapseUnfiled2">
                            <h6 class="mt-1 mb-0">
                                <span>Colors</span>
                                <i class="fas fa-angle-down rotate-icon"></i>
                            </h6>
                        </a>
                    </div>

                    <div id="collapseUnfiled2" class="collapse" role="tabpanel" aria-labelledby="headingUnfiled" data-parent="#accordionEx80">
                        <div class="card-body">
                            <div class="container">
                                <div class="row" id="ProductColorList">
                                    <div class="spinner-border" role="status"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.Accordion wrapper-->
        </div>
        <div class="col-lg-9">
            <!--Section: Products v.3-->
            <section class="text-center mb-4" id="ProductList">
                <div class="spinner-border" role="status"><span class="sr-only"></span></div>
            </section>
            <!--Section: Products v.3-->
            <!--Pagination-->
            @*<nav class="d-flex justify-content-center wow fadeIn">
                <ul class="pagination pg-blue">

                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>

                    <li class="page-item active">
                        <a class="page-link" href="#">
                            1
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">4</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">5</a>
                    </li>

                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>*@
            <!--Pagination-->
        </div>
    </div>
</div>
<!--Main layout-->
