<table class="table">
    <thead>
        <tr>
            <th class="text-center" colspan="2">EST.25 Aug-26 Aug</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td class="product-purchase-img">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg" />
            </td>
            <td>
                <p>JS&CO jewelry 14k Saudi Gold Plated Jewelry Set NSD010+ESD017</p>
                <p>Brand: Nike, Color: Black, Size: 5xl</p>
            </td>
        </tr>
    </tbody>
</table>
