@model IEnumerable<OECS.Models.ProductModels.ProductDetailModels.SizeModels.SizeModel>
@foreach (var size in Model)
{
    <div class="col-xs-3 size-wrapper">
        <span class="badge badge-light badge-size" onclick="SortBySize(parseInt(@size.SideID))">@size.Size</span>
    </div>
}
