<div class="card">
    <div class="card-body">
        <div class="text-center">
            <h2 class="text-center">Thank you for purchasing!</h2>
            <p class="emphasize-text">
                Please have this amount ready on payment day.
            </p>
            <h5>@ViewBag.TotalAmount</h5>
        </div>
        <hr />
        <p class="emphasize-text">
            Your Payment/Delivery Dates
        </p>

        <div id="PurchasedItemTable">

        </div>

        <div id="OrderSummaryAccordion">

        </div>

        <div class="text-center">
            <button class="btn btn-outline-success" type="button">
                CONTINUE SHOPPING
            </button>
        </div>
    </div>
</div>