@model OECS.Models.LoginModels.LoginModel

@using (Ajax.BeginForm("Login", "Login", new AjaxOptions { HttpMethod = "POST", OnSuccess = "RedirectToLandingPage(data)" }))
{
    <div class="modal-header">
        <h5 class="modal-title">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        @Html.AntiForgeryToken()

        @Html.DropDownListFor(l => l.RoleID, Model.RoleList, "Select Role", new { @class = "mdb-select form-control mb-4" })

        @Html.TextBoxFor(l => l.UserID, new { @class = "form-control mb-4", @placeholder = "AdminID/E-mail" })
        @Html.PasswordFor(l => l.Password, new { @class = "form-control mb-4", @placeholder = "Password" })

        <div class="d-flex justify-content-around">
            <div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                    <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
                </div>
            </div>
            <div>
                <a href="">Forgot password?</a>
            </div>
        </div>

        <div class="invisible example text-center">
            <button type="submit" id="BtnConfirmLogin"></button>
        </div>
        <div class="visible example text-center">
            <button class="btn btn-info btn-block my-4" type="button" id="BtnLogin">Log in</button>
        </div>
    </div>
}
