
@{
    ViewBag.Title = "Index";
}
@Html.Partial("~/Views/Shared/_NavbarTop.cshtml")

<div class="card-group">
    <div class="col-lg-8 checkout-package">

    </div>

    <div class="col-lg-4 checkout-shipping-order-summary">

    </div>
</div>

<!-- Modal Payment Confirmation Method -->
<div class="modal fade" id="modalPaymentMethodConfirmation" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content" id="paymentMethodConfirmation">

        </div>
    </div>
</div>
@section scripts {
    <script src="~/Scripts/Custom_Scripts/Main_Scripts/CheckOut.js"></script>
}