
@{
    ViewBag.Title = "Index";
}
@Html.Partial("~/Views/Shared/_NavbarTop.cshtml")

<div class="card-group">
    <div class="col-lg-8 checkout-package">

    </div>

    <div class="col-lg-4 checkout-shipping-order-summary">

    </div>
</div>
@section scripts {
    <script src="~/Scripts/Custom_Scripts/Main_Scripts/CheckOut.js"></script>
}