<div class="card">
    <div class="card-body">
        <h6 style="font-weight: bold">Package 1 of 1</h6>
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center" colspan="2">Item</th>
                    <th class="tex-center">Price</th>
                    <th class="text-center">Qty</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td style="width: 60px;">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg" />
                    </td>
                    <td>
                        <p>JS&CO jewelry 14k Saudi Gold Plated Jewelry Set NSD010+ESD017</p>
                        <p>Brand: Nike, Color: Black, Size: 5xl</p>
                    </td>
                    <td>$00.00</td>
                    <td>1</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>