@if (Session["Modules"] == null && !Request.IsAuthenticated)
{
    <!-- Modal Login/Register -->
    <div class="modal fade" id="modalLoginOrRegister" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="RegisterOrLoginFormContent">

            </div>
        </div>
    </div>
}
