<div class="card">
    <div class="card-body">
        <h5 style="font-weight: bold">Shipping & Billing</h5>
        <p>
            <i class="fas fa-map-marker-alt"> Delia B. Baterina</i><br />
            <span class="badge badge-info">Home</span>
            Cadulayan Street, Bantay Insik, Sison, Pangasinan
        </p>
        <p>
            Bill to the same address <span class="float-right"><a href="">EDIT</a></span>
        </p>
        <p>
            09954557682 <span class="float-right"><a href="">EDIT</a></span>
        </p>
        <p>
            rjhaybaterina12@gmail.com <span class="float-right"><a href="">EDIT</a></span>
        </p>

        <h5 style="font-weight: bold">Order Summary</h5>
        <p>SubTotal <span class="float-right">$0.00</span></p>
        <p>Shipping Fee <span class="float-right">$0.00</span></p>
        <p style="font-weight: bold">Total <span class="float-right">$00.00</span></p>

        <button class="btn btn-primary btn-block" type="button">
            PLACE ORDER
        </button>
    </div>
</div>
