
@{
    ViewBag.Title = "Index";
}
@Html.Partial("~/Views/Shared/_NavbarTop.cshtml")

<div class="card-group">
    <div class="col-lg-8 cart-item"></div>

    <div class="col-lg-4 order-summary"></div>
</div>

@section scripts {
    <script src="~/Scripts/Custom_Scripts/Main_Scripts/Cart.js"></script>
} 