@model IEnumerable<OECS.Models.OrderModels.OrderModel>

@{ 
    decimal amount = 0.0m;
    decimal vat = 0.0m;
    foreach(var item in Model)
    {
        amount += item.Price * item.Quantity;
    }

    vat = amount * (decimal)0.12;
    decimal totalAmount = amount + vat;
}
<div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
    <div class="card">
        <div class="card-header" role="tab" id="headingOne1">
            <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
                <h5 class="mb-0">
                    Order Summary <i class="fas fa-angle-down rotate-icon"></i>
                </h5>
            </a>
        </div>

        <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
            <div class="card-body">
                <p>SubTotal (@Model.Count() item(s)) <span class="float-right">@String.Format("{0:C}", amount)</span></p>
                <p>VAT (12%) <span class="float-right">@String.Format("{0:C}", vat)</span></p>
                <h5 class="emphasize-text">Total Amount <span class="float-right">@String.Format("{0:C}", totalAmount)</span></h5>
            </div>
        </div>
    </div>
</div>
