@{
    ViewBag.Title = "Index";
}
<!-- Modal Login/Register -->
<div class="modal fade" id="modalLoginOrRegister" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="RegisterOrLoginFormContent">
            
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Custom_Scripts/Login.js"></script>
    <script src="~/Scripts/Custom_Scripts/Register.js"></script>
}